@import "tailwindcss";

:root {
  /* --background: linear-gradient(to right bottom,
      #616161 0%,
      #814d29 100%); */
  --background: white;
  --foreground: #171717;
}

.wavy-divider {
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z' fill='%23f59e0b'%3E%3C/path%3E%3C/svg%3E");
  background-size: 1200px 20px;
  background-repeat: repeat-x;
}

/* Smooth transitions */
* {
  transition: all 0.3s ease;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    background: linear-gradient(to right bottom,
        #616161 0%,
        #814d29 100%);
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-dark-texture {
  background-color: gray;
  /* background-image: url('/nen-best-seller.png'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-texture {
  background-color: rgb(250, 250, 250);
}

.wavy-divider {
  /* background-image: url('https://ext.same-assets.com/2455550972/1289209573.png'); */
  background-repeat: repeat-x;
  background-size: contain;
  height: 30px;
}

/* Hiệu ứng fade in và di chuyển từ dưới lên */
.animate-fadeInUp {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}


/* Hiệu ứng slide in từ trái */
.animate-slideInFromLeft {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.opacity-0 {
  opacity: 0;
  transform: translateX(-50px);
  /* Di chuyển từ trái vào */
}

/* Hiệu ứng zoom in */
.animate-zoomIn {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.opacity-0 {
  opacity: 0;
  transform: scale(0.9);
  /* Zoom nhỏ ban đầu */
}