@import "tailwindcss";

:root {
  /* --background: linear-gradient(to right bottom,
      #616161 0%,
      #814d29 100%); */
  --background: white;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    background: linear-gradient(to right bottom,
        #616161 0%,
        #814d29 100%);
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-dark-texture {
  background-color: gray;
  /* background-image: url('/nen-best-seller.png'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-texture {
  background-color: rgb(250, 250, 250);
}

.wavy-divider {
  /* background-image: url('https://ext.same-assets.com/2455550972/1289209573.png'); */
  background-repeat: repeat-x;
  background-size: contain;
  height: 30px;
}

/* Hiệu ứng fade in và di chuyển từ dưới lên */
.animate-fadeInUp {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}


/* Hiệu ứng slide in từ trái */
.animate-slideInFromLeft {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.opacity-0 {
  opacity: 0;
  transform: translateX(-50px);
  /* Di chuyển từ trái vào */
}

/* Hiệu ứng zoom in */
.animate-zoomIn {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.opacity-0 {
  opacity: 0;
  transform: scale(0.9);
  /* Zoom nhỏ ban đầu */
}